.Rproj.user
.Rhistory
.RData
.Ruserdata
606-HW-Presentation.pdf
606/HW/606-HW-Presentation.pdf
606/HW/606-HW-Presentation.Rmd
606/HW/HW-Nine.pdf
606/HW/HW-Nine.Rmd
606/HW/HW-Presentation.pptx
606/HW/Presentation.nb.html
606/HW/Presentation.Rmd
606/Labs/Lab9/Lab9_multiple_regression.html
606/Labs/Lab9/Lab9_multiple_regression.pdf
606/Labs/Lab9/Lab9_multiple_regression.Rmd
606/Project/Final -Project.Rmd
606/Project/Proj.nb.html
606/Project/Proj.Rmd
607/Projects/Final Proj/Final-Proj-Presen.pptx
Data/scrap.html
Data/scrap.Rmd
